<header class="site-header" role="banner">
    <h1 class="post-headline">{{site.title}}</h1>
    <h3 class="post-description">{{site.description}}</h3>

    <div class="links scroll">
        <a href="{{site.baseurl}}/">Home</a>
        <a href="{{site.baseurl}}/news/">News</a>
        <a href="{{site.baseurl}}/about/">About</a>
    </div>

    <!-- Load fontawesome here for faster loadtimes: https://stackoverflow.com/a/35880730/9523246 -->
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.11.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</header>
